#collectionContainer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

#collectionContainer>div{
    border:1px solid;
    text-align: center;
}

#collectionContainer img{
    width: 100%;
}


/* for medium screens*/
@media screen and (max-width:700px){
    #collectionContainer{
        grid-template-columns: repeat(3,1fr);
    }
}

/*for small screens*/
@media screen and (max-width:400px){
    #collectionContainer{
        grid-template-columns: repeat(2,1fr);
    }
}